h1, p, label, span {
  font-family: "Courier New", Courier, monospace;
  }

.threshold-form {
  margin-bottom: 20px;
  }

.jumbotron {
  display:table-cell;
  height: 500px;
  width: inherit;
  vertical-align:middle;
  text-align: center;
  }
