body {
  background-color: #2F4F4F;
}

a {
  color: #ffffff;
}

a:hover {
  color: #2F4F4F;
}

h1, h2, p, label, span {
  font-family: "Courier New", Courier, monospace;
  }

.threshold-form {
  margin-bottom: 20px;
  }

.jumbotron {
  display:table-cell;
  height: 500px;
  width: inherit;
  vertical-align:middle;
  text-align: center;
  }
