<!-- index.html-->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
  <div class='jumbotron'>
    <h1> "Surprise Me" <br>Horror Movie Catalog</h1>
    <form class='threshold-form' action='/movie' method='POST' id='threshold-form'>
      <label for='time-select' style='margin-top: 10px;'>Year:</label><br>
      <select name='time-drop-down'>
        <option value="null"></option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select><br>
  </div>
</body>
</html>
{% endblock %}
