<!-- index.html-->
{% extends "base.html" %}
{% block title %}{{title}} Plot{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/button.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/typed.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
  <div class="jumbotron">
    {% if image_url == '' %}
      <a href='{{url}}'><img src='{{ url_for('static', filename='images/no_image_available.jpeg')}}'/></a>
    {% else %}
      <a href='{{url}}'><img src='{{image_url}}'/></a>
    {% endif %}
    <br><br>
    <div id="typed-strings" class="typed-strings">
      <p><strong>"{{title}}"</strong></p>
      <p><strong>"Directed by: {{director}}"</strong></p>
    </div>
    <span id="typed" style='font-size: 24px;'></span>
    <br><br>
    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 40,
        backSpeed: 40,
        loop: true
      });
    </script>
    <p class='wiki-page-plot' style='font-size: 18px;'>{{content}}</p>
  </div>
</body>
</html>
{% endblock %}
